body {
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url("/static/images/code1.png");
    /*background-image: url('/static/images/code1.png');
            opacity: 0.3;
            */
}

.jumbotron {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
    color: rgb(33, 10, 59);
    font-weight: 900;
}

.display-3 {
    font-weight: 900;
}

.lead {
    font-weight: 900;
}