{% extends "base.html" %} 

{% block links %}
<link rel="stylesheet" href="/static/css/categories.css"> 

<script>
    window.onload = function(){
        const login = document.getElementById('login');
        let link = 'https://';
        const domain = 'datarithms.us.auth0.com';
        const audience = 'datarithms';
        const response = 'token'
        const client_id = 'Y5vM0Nuvm7HJ7U2QRMw5kOtYgyj2jF8L'
        const redirect_uri = 'http://127.0.0.1:5000/login'
        link += domain + '/authorize?';
        link += 'audience=' + audience + '&';
        link += 'response_type=' + response + '&';
        link += 'client_id=' + client_id + '&';
        link += 'redirect_uri=' + redirect_uri;
        login.href = link;
        let token = localStorage.getItem('token');
        if(token != null){
            let parsed = jwt_decode(token);
            let add_category_perm = parsed["permissions"].includes('post:category');

            if(add_category_perm == false){
                document.getElementById("newCategory").style.display = "none";
            }
        }
        else{
            document.getElementById("newCategory").style.display = "none";
            document.getElementById("logout").style.display = "none";
        }
    }
    function logout(){
        console.log("in logout")
        localStorage.removeItem('token');
        // window.location.href = '/'
        return true;
    }
    
</script>
{% endblock %} 

{% block title %}DataRithms Categories{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="text-center">
                <a href="{{url_for('create_category')}}" id="newCategory" class="center btn btn-lg btn-primary">Add a new category</a>
            </div>
        </div>

        <div class="col-1">
            <div class="text-center">
                <a href="{{url_for('logout')}}" onclick="return logout()" id="logout" class="mr-0 btn btn-lg btn-primary">Logout</a>
            </div>
        </div>

    </div>
    <div id="categorieslist" class="row">
        {% for category in category_data %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ category.category_name }}</h5>
                    <p class="card-text">{{ category.category_description }}</p>
                    <!--  onclick="sendrequestforquestion()" -->
                    <a id="{{category.id}}"  href={{ url_for('category_questions', category_id=category.id) }} class="categ-class btn btn-primary">Go to {{ category.category_name }} questions</a>
                </div>
            </div>
        </div>
        
        {% endfor %}


    </div>

</div>
{% endblock %}
