{% extends "base.html" %} 

{% block title %}DataRithms{% endblock %} 

{% block links %}
<link rel="stylesheet" href="/static/css/createquestion.css">
{% endblock %}

{% block content %}
<h1 class="text-center">  </h1>
<div class="container">
    <!-- Default form contact -->
<form id="create-form" method='POST' class="text-center mt-5 border border-light p-5">

    <p class="h4 mb-4">Add a new question to {{category_name}}</p>
    {{ form.csrf_token }}
    <!-- Name -->
    {{ form.question_title(class_='form-control mb-4', placeholder = 'Question title', autofocus = true) }}

    <!-- Email -->
    {{ form.question(class_='form-control mb-4', placeholder = 'Question', autofocus = true) }}
    {{ form.answer(class_='form-control mb-4', placeholder = 'Answer', autofocus = true) }}
    <!-- Subject -->
    
    <button class="btn btn-info btn-block" type="submit">Add</button>

</form>
<!-- Default form contact -->
</div>

{% endblock %}