{% extends "base.html" %} 

{% block title %}DataRithms{% endblock %} 

{% block links %}
<link rel="stylesheet" href="/static/css/index.css"> 
<script>
    window.onload = function(){
  const login = document.getElementById('login');
  let link = 'https://';
  const domain = 'datarithms.us.auth0.com';
  const audience = 'datarithms';
  const response = 'token'
  const client_id = 'Y5vM0Nuvm7HJ7U2QRMw5kOtYgyj2jF8L'
  const redirect_uri = 'http://127.0.0.1:5000/login'
  link += domain + '/authorize?';
  link += 'audience=' + audience + '&';
  link += 'response_type=' + response + '&';
  link += 'client_id=' + client_id + '&';
  link += 'redirect_uri=' + redirect_uri;
  login.href = link;
  
  }

</script>
{% endblock %} 

{% block content %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-3">DataRithms!</h1>
        <p class="lead">Find your rhythm in solving data structures and algorithm problems!</p>
        <hr class="my-4">
        <p>Explore a collection of a variety of questions, to help you gain the confidence you need to ace any coding interview</p>
        <p id="goto" class="lead">
            <a href={{ url_for( 'categories') }} id="catbutton" class="btn btn-primary btn-lg" role="button">Go to Questions</a>
        </p>
    </div>
</div>

{% endblock %}
<script>
    
</script>