{% extends "base.html" %} 

{% block title %}DataRithms{% endblock %} 

{% block links %}
<script src="/static/js/jwt-decode.min.js"></script>
<script>
    window.onload = function(){
        const type = window.location.hash.substr(1);
       
        const tokenlist = type.split('=');
        
        let token = tokenlist[1].split('&');
        const actualtokenn = token[0];
        localStorage.setItem('token', actualtokenn)
        token = localStorage.getItem('token')
        console.log("Token = " + token);
        const parsed = jwt_decode(token);
        console.log("Parsed = " + parsed);
        console.log(parsed["permissions"]);
        let h1 = document.getElementById('welcome');
        if(parsed["permissions"].length > 2)
        {
            h1.innerHTML = "Welcome back, Admin!";
        }
        else if(parsed["permissions"].length == 1){
            h1.innerHTML = "Welcome back, Editor!";
        }
        else{
            h1.innerHTML = "Hey, sorry, you are not allowed to here!";
        }
        let newtoken = localStorage.getItem('token');
        fetch('/setheader/',{
                    method : 'GET',
                    headers:{
                        'Authorization' : "Bearer " + newtoken
                    } 
                }
        ).then(function(response){
            console.log(response);
        })
    }
        
    

</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-5 text-center">
        <h1 id="welcome" class="display-3"></h1>
        <p id="goto" class="lead text-center">
            <a href={{ url_for( 'categories') }} id="catbutton" class="btn btn-primary btn-lg" role="button">Go to Categories</a>
        </p>
    </div>
</div>
<h1 id="welcome"></h1>
<h2>{{header}}</h2>

{% endblock %}