{% extends "base.html" %} 

{% block links %}
<script>
window.onload = function(){
    let token = localStorage.getItem('token');
    let parent = document.querySelector(".col-3");
    let edits = document.querySelectorAll('.edit-btn');
    let deletes = document.querySelectorAll('.delete-btn');
    console.log(edits);
    if(token != null){
        let parsed = jwt_decode(token);
        let add_question_perm = parsed["permissions"].includes('post:question');

        if(add_question_perm == false){
            document.getElementById("newQuestion").style.display = "none";
        }
        
        let edit_question_perm = parsed["permissions"].includes('patch:question');
        let delete_question_perm = parsed["permissions"].includes('delete:question');
        if(edit_question_perm == false){
            for(let i = 0; i <  edits.length; i++){
                edits[i].style.display = "none";
            }
        }
        if(delete_question_perm == false){
            for(let i = 0; i <  deletes.length; i++){
                deletes[i].style.display = "none";
            }
        }

    }
    else{
        document.getElementById("newQuestion").style.display = "none";
        for(let i = 0; i <  edits.length; i++){
            edits[i].style.display = "none";
        }
        for(let i = 0; i <  deletes.length; i++){
            deletes[i].style.display = "none";
        }
    }

}
</script>
{% endblock %} 

{% block title %} DataRithms Question List {% endblock %}

{% block content %}
<style>
    .list-group{
        margin-top: 5em;
    }
</style>
<div class="container">
    <h1 class="text-center">{{category}}</h1>
    <div class="text-center">
        <a href="{{url_for('create_question', category_id=category_id)}}" id="newQuestion" class="center btn btn-lg btn-primary">Add a new question</a>
    </div>
    
    <ul class="list-group">
        
        {% for question in questions %}
            <li data-id={{question.id}} class="list-group-item">
                <div class="row">
                    <div class="col-9">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionModal{{question.id}}">
                            {{question.question_title}}
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="questionModal{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{question.question_title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                {{question.question|safe}}
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#answerModal{{question.id}}">
                                    Show Answer
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="answerModal{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{question.question_title}}</h5>
                                        <button type="button" class="close" onclick="$('#answerModal{{question.id}}').modal('hide')" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div id='answer' class="modal-body">
                                            {{question.answer|safe}}
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" onclick="$('#answerModal{{question.id}}').modal('hide')">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <button id="edit" class="edit-btn btn btn-primary">Edit</button>
                        <button id="delete" class="delete-btn btn btn-danger">Delete</button> 
                    </div>
                </div>
            </li>
        {% endfor %}
      </ul>
</div>

{% endblock %}
